/* Calendar Styles */
.calendar {
  padding: 40px;
  background-color: #eaeaea;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.subtitle {
  color: #666;
  font-weight: 500;
  line-height: 1.4;
  margin: 6px 0 32px;
}
