.cell-day {
  padding: 6px;
}
.cell-day.selected {
  background-color: #8f8f8f;
}
.booked {
}
.cell-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 6px;
  align-items: start;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 16px;
  background: #fff;
}
.slot-time {
  line-height: 1.4;
  color: #555;
}

.slot-ampm {
  margin-left: 2px;
  font-size: 10px;
  vertical-align: super;
  letter-spacing: 0.3px;
}
.slot-price {
  font-size: 12px;
  color: #666;
}
