:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  height: 100%;
  min-width: 20rem;
  line-height: 1;
}

button {
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

.grid-head {
  display: contents;
}
.grid-body {
  display: contents;
}
